.home {


  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
<<<<<<< HEAD
<<<<<<< HEAD
      @media @phone{
        width:100%;
        display:flex;
        justify-content:center;
=======
>>>>>>> parent of 1d83dba... finished
=======
>>>>>>> parent of 1d83dba... finished

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
<<<<<<< HEAD
<<<<<<< HEAD
    @media @phone{
      flex-direction:column-reverse;
    }
=======
>>>>>>> parent of 1d83dba... finished
=======
>>>>>>> parent of 1d83dba... finished

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> parent of 1d83dba... finished
=======
>>>>>>> parent of 1d83dba... finished

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }
  }
  .header-bar{
    padding:2% 0;
    border-bottom:2px dashed lightgrey;
    display:flex;
    justify-content:space-between;
    align-items:center;
    @media @phone{
      display:flex;
      flex-direction:column;
      width:100%;
   .fun-bus{
     @media @phone{
       padding:5% 0;
   }
  }
  }
}
  .header-image{
    padding-bottom:2%;
  }
  .welcome{
    border-bottom:2px dashed lightgrey;
  }
  .content-pick{
    margin-bottom:6%;
  }
  .btn{
    .button();
  }
}
}
}// home