// Mixins in here
.button() {
    width:80%;
    height:20%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:@button-bg;
    color:white;
    font-size:1.6rem;
    text-align:center;
    border-radius:10px;
    &:hover{
        background-color:lighten(@button-bg, 10%);
    }
}