<<<<<<< HEAD
.nav nav{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    font-size:1.6rem;
    
    width:30vw;
        a{
            text-decoration:none;
            color:black;
        &:hover{
            color:grey;
        }
    }
}
=======
// Navigation Styles here
.header-bar .nav {
    @media @phone{
        width:100%;
    }
    width:50%;
    }
      nav{
      display:flex;
      justify-content:space-evenly;
      a{
        font-size:2rem;
        text-decoration:none;
        color:black;
          &:hover{
            color:grey;
          }
        }
    }
>>>>>>> parent of 47f7b97... fed up royally
